<!-- ------------------------------------------ App_Formulario => formulario -->
<!-- ------------- Plantilla básica de formulario con los campos más comunes -->

{% extends "App_Plantilla/base.html" %}

{% block title %}Formulario{% endblock %}

{% load static %}

{% block content %}

<main class="caja-sesion">
        <div class="sesion registro">
                <h3>Formulario Base</h3>

                <form method="POST">
                        <!-- ------------------------------- token de seguridad CSRF (indispensable) -->
                        {% csrf_token %}
                        <!-- ------------------------------------------------------- Campos de texto -->
                        <div class="caja-input">
                                <input type="text" name="nombre_usuario" placeholder="" required>
                                <label for="nombre_usuario" class="input-label">Nombre usuario:</label>
                        </div>

                        <div class="caja-input">
                                <input type="text" name="nombre" placeholder="" required>
                                <label for="nombre" class="input-label">Nombtre:</label>
                        </div>

                        <div class="caja-input">
                                <input type="text" name="apellido" placeholder="" required>
                                <label for="apellido" class="input-label">Apellido:</label>
                        </div>

                        <div class="caja-input">
                                <input type="email" name="email" placeholder="" required>
                                <label for="email" class="input-label">Email:</label>
                        </div>
                        <!-- ------------------------------------------------------ Campos numéricos -->
                        <div class="caja-input">
                                <input type="number" name="edad" min="1" placeholder="" required>
                                <label for="edad" class="input-label">Edad:</label>
                        </div>

                        <div class="caja-input">
                                <input type="number" step="0.01" name="peso" min="0" max="999-99" placeholder=""
                                        required>
                                <label for="peso" class="input-label">Peso:</label>
                        </div>

                        <div class="caja-input">
                                <input type="number" step="0.01" name="altura" min="0" max="999-99" placeholder=""
                                        required>
                                <label for="altura" class="input-label">Altura</label>
                        </div>
                        <!-- ------------------------------------------------------- Campos de fecha -->
                        <div class="caja-input">
                                <label for="fecha_nacimiento" class="input-label-2">Fecha de nacimiento:</label>
                                <input type="date" name="fecha_nacimiento" required>

                        </div>

                        <!-- ------------------------------------------ Campos con lista de opciones -->
                        <div class="caja-input">
                                <label for="roles" class="input-label-2">Rol:</label>
                                <select name="roles" class="formulario-input-2" required>
                                        <option value="usuario" class="formulario-input-2">Usuario normal</option>
                                        <option value="admin" class="formulario-input-2">Administrador</option>
                                </select>
                        </div>

                        <input type="submit" value="Enviar" class="boton">

                </form>
        </div>
</main>


{% endblock %}